---
layout: home
title: "감자도스 블로그"
---

<section>

	{% for post in site.posts %}
		{% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}

		<ul>
			<li>
				<list-item>

					<a href="{{ post.url }}">

						<div class="post-date code">
							<span class="date-text" data-date="{{ post.date | date_to_xmlschema }}">
								{{ post.date | date: "%m/%d" }}
							</span>
						</div>

						<div class="title">
							{{ post.title }}
						</div>

						<div class="summary">
							{{ post.summary }}
						</div>

					</a>

				</list-item>
			</li>
		</ul>

	{% endfor %}

	<script>
		const dateTexts = document.getElementsByClassName('date-text');

		for (const dateText of dateTexts) {
			const createDate = new Date(dateText.getAttribute('data-date'));
			const currentDate = new Date();

			const diff = (currentDate.getTime() - createDate.getTime()) / (1000 * 86400);

			if (diff < {{ site.new_badge_period | default: 7 }}) {
				dateText.innerText = 'N ' + dateText.innerText;
			}
		}
	</script>

</section>
