---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* type scale */
/*
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px 1.563
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px
*/

$type-size-1: 2em !default;
$type-size-2: 0.6em !default;
$type-size-3: 1.4em !default; 
$type-size-4: 1.2em !default; 
$type-size-5: 1em !default;
$type-size-6: 0.75em !default; 
$type-size-7: 0.6875em !default;
$type-size-8: 0.625em !default; 


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
