---
layout: default
---

<article>
  <div class="title">{{ page.title }}</div>
  <div class="post-date">{{ page.date | date: "%Y년 %-m월 %-d일" }}</div>

  <div class="divider"></div>

  <div class="body">{{ content }}</div>

  <div class="like-button-wrapper">
    <button id="like-button" class="like-button loading">
      <span class="like-button-content">
        <span class="heart-icon">💙</span>
        <span class="like-count">0</span>
      </span>
      <span class="like-button-loader">
        <span class="loader-dot"></span>
        <span class="loader-dot"></span>
        <span class="loader-dot"></span>
      </span>
    </button>
  </div>
</article>

<div class="comments">{% include comments.html %}</div>

<div class="page-navigation">
  <a class="home" href="/" title="목록으로 돌아가기"
    >&larr; 목록으로 돌아가기</a
  >
</div>

<script src="{{ "/assets/js/like-button.js" }}"></script>
